@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html, body{
    font-family: 'Saira', sans-serif;
    background-color: black;
    color: white;
}


header > div#tithead{
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.329);
    font-size: 2em;
}

header > div#tithead span{
    color: #00AD6F;
}

header > span#burguer{
    display: block;
    background-color: #00AD6F;
    color: black;
    padding: 10px;
    text-align: right;
}

header > span#burguer:hover{
    background-color: #018554;
    color: #00e08e;
}

header > menu{
    display: none;
}

header > menu > ul{
    list-style-type: none;
    background-color: black;
    padding: 10px;
    border: 2px solid #00AD6F;
    border-top: none;
}

header > menu > ul > li > a{
    text-decoration: none;
    color: #00AD6F;
    font-weight: bold;
    position: relative;
}

header > menu > ul > li > a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #00ad6d38;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
header > menu > ul > li > a:hover::after{
    width: 100%;
}

main > section#tela0{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    padding-right: 20px;
    text-align: center;  
    height: 80vh;
}
@keyframes animacao{
    0%{ 
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-25px);
    }
    75%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}
main > section#tela0 > div#imgtela0{
    animation: animacao 5s linear infinite;
    animation-delay: 5.3s;
}

main > section#tela0 > div#imgtela0 > img{
    border: none;
    box-shadow: none;
}

main > section#tela0 > p{
    display: inline-block;
    margin: auto;
    
}

main > section#tela0 > p > span#p1{
    font-size: 10vw; /**/
    font-weight: bold;   
}

main > section#tela0 > p > span#p2{
    display: flex;
    font-size: 7vw; /**/
    margin: auto;
    color: #00AD6F;
    border-right: 2px solid #00AD6F;
    white-space: nowrap;
    overflow: hidden;
    
}

main > section#tela0 > p.cursoranimation > span#p2{
    animation: pisca 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 11.63em;
    }
}

@keyframes pisca {
    from{
        border-right-color: #00AD6F;
    }
    to{
        border-right-color: transparent;
    }
}

main > section#tela0 > div#logolg{
    padding: 10px;
    letter-spacing: 30px;
}

main > section#tela0 > div#logolg > a > img:hover{
    border: 1px solid #00AD6F;
    transform: translate(-3px, -3px);
    transition: transform 0.4s, border 0.3s;
    
}

main > section#tela0 > div img#ic{
    border: 1px solid white;
}

main > section > article#txtt1{
    text-indent: 20px;
}

main > section > article#txtt1 > h1{
    padding: 20px;
    font-size: 1.5em;
    color: black;
    background-image: linear-gradient(to bottom, black, #00AD6F, black);
    text-align: center;
    margin-bottom: 15px;
}

main > section > article#txtt1 > div#paragrafos{
    padding: 15px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

main > h1#proj{
    background-image: linear-gradient(to bottom, black, #00AD6F);
    color: white;
    font-style: normal;
    text-align: center;
    margin-top: 100px;
    font-size: 1.9em;
    padding: 40px;
    
}

main > section#tela2{
    background-color: #00AD6F;
    padding-bottom: 80px;
}

main > section#tela2 > div#wt2{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1100px;
}

.p1, .p2, .p3{
    width: 50%;
    padding: 10px;
    text-align: justify;  
}

main > section#tela2 > picture > source, img{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}

main > section#tela2 a{
    color: black;
    text-decoration: none;
    position: relative;
}

main > section#tela2 a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

main > section#tela2 a:hover::after{
    width: 100%;
}

main > section#tela2 p{
    max-width: 250px;
}

main > section#tela3{
    height: 100vh;
}

main > section#tela3 > h1{
    background-image: linear-gradient(to bottom, #00AD6F, rgba(19, 17, 17, 0.39),black);
    color: white;
    font-size: 1.7em;
    padding: 10px;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

main > section#tela3 > table{
    border-collapse: collapse;
    margin: auto;
    width: 90vw;
    max-width: 700px;
    
    
}

main > section#tela3 > table td, th{
    border: 2px solid #00AD6F;
    padding: 5px;
}

main > section#tela4{
    background-color: #00AD6F;
    padding-bottom: 50px;
}

main > section#tela4 > h1{
    background-image: linear-gradient(to bottom, black, #00AD6F);
    color: white;
    font-style: normal;
    text-align: center;
    font-size: 1.8em;
    padding: 40px;
}

main > section#tela4 > p{
    padding: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 550;
}

main > section#tela4 > div#imghab{
    display: flex;
    flex-wrap: wrap;
}

main > section#tela4 > div#imghab > div.skill{
    width: 50%;
    padding: 5px;
    text-align: center;
    
}

main > section#tela4 > div#imghab > div.skill > img{
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}

main > section#tela4 > div#imghab > div.skill > img:hover{
    transform: translate3d(3px, 3px, 3px);
    transition: 0.5s;
    cursor: pointer;
    border: 3px solid black;
}

footer{
    padding-top: 20px;
    background-image: linear-gradient(to bottom, #00AD6F, black, black, black);
    display: flex;
}

footer > div#txtf{
    width: 75%;
    padding: 5px;
    padding-left: 10px;
}

footer > div#imgf{
    margin: auto;
    width: 25%;
}

footer img{
    padding: 3px;
    border: 1px solid white;
}

footer img:hover{
    border: 1px solid #00AD6F;
    transform: translateY(-3px);
    transition: transform 0.4s, border 0.3s;
}


